
<div id="quickview-content">
    <!-- Load quickview content into here -->
</div>

<div id="quickview-bg-block">
    <!-- Quick View deep background -->
</div>

<div class="quickview-load-img">
    <img src="{{ tt_quickview_loader_img }}" alt="" />
</div>

<div>
    <input type="hidden" id="qv-text-close" value="{{ text_qv_close }}" />
</div>

<script>
    $('#quickview-bg-block').click(function () {
        tt_quickview.closeQVFrame();
    })
</script>