<div class="html-content">
{% if heading_title %}
  <div class="box-heading"><h3>{{ heading_title }}</h3></div>
  {% endif %}
  {% if html %}
  <div class="box-content">{{ html }}</div>
  {% endif %}
</div>
